In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [8]:
train = pd.read_csv("data/train_mfcc_data.csv")
test = pd.read_csv("data/test_mfcc_data.csv")

In [28]:
train[train['covid19'] == 1]

,id,age,gender,respiratory_condition,fever_or_muscle_pain,covid19,mfcc_1,mfcc_2,mfcc_3,mfcc_4,...,mfcc_23,mfcc_24,mfcc_25,mfcc_26,mfcc_27,mfcc_28,mfcc_29,mfcc_30,mfcc_31,mfcc_32
6,7,33,male,0,0,1,-391.94632,20.508020,6.345723,-0.491744,...,-2.162467,-0.112567,-2.928096,-0.245753,-1.586465,0.893275,0.261700,2.157458,0.736151,0.742410
14,15,30,male,0,0,1,-412.31042,44.211430,-8.100845,10.634684,...,1.038226,1.633641,0.757909,1.737505,0.176236,1.952161,0.060752,-0.858823,-1.594731,0.432038
15,16,24,female,0,0,1,-232.60512,37.987087,-14.780663,-7.962826,...,-5.298728,1.100044,-4.498275,3.356630,-4.798197,2.046876,-1.681311,0.493885,1.232156,-0.241429
22,23,31,female,1,0,1,-715.96655,29.669401,-1.945810,1.993771,...,-1.158454,-1.761264,-1.851555,-1.151259,-0.729947,0.303695,-1.461285,-0.453170,-1.610665,-0.580576
26,27,12,female,0,1,1,-428.38810,63.565674,-36.784230,-18.594604,...,-2.306007,-4.171999,-0.549109,3.435230,-0.063183,2.165172,4.075808,6.145233,2.712630,3.080471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3756,3757,41,male,0,0,1,-601.10170,14.259920,-1.896390,0.289319,...,-1.072299,-0.153434,-0.500479,-0.053919,-0.890036,0.552195,-0.860287,0.449103,0.157192,-0.028122
3758,3759,13,other,1,0,1,-298.00430,102.429410,-13.718901,1.789704,...,-3.238816,-0.854786,-1.630834,-0.689379,-0.882971,-0.310789,-1.437642,2.021047,-1.047938,-1.382025
3772,3773,27,male,1,1,1,-476.60992,22.959183,-12.526052,-7.234978,...,0.518250,1.863204,1.027031,0.677000,-0.247786,1.520479,-0.841284,0.382131,-0.527607,0.186321
3779,3780,34,male,0,0,1,-746.08936,71.381390,-21.809814,42.501026,...,-0.638457,-4.529748,-0.341034,-4.489949,1.873979,2.886089,-1.752191,3.509757,3.099755,2.067928
3781,3782,17,male,0,0,1,-281.92000,90.113106,-27.613363,8.488904,...,0.992544,-2.921914,-3.082148,-0.921659,-5.735423,4.033788,-1.663380,-4.834220,0.526411,-1.515926

In [27]:
mlp = pd.read_csv("MLP (100, 100, 100).csv")
mlp[mlp['covid19'] == 1]

        id  covid19
18    3824        1
75    3881        1
288   4094        1
289   4095        1
531   4337        1
...    ...      ...
5366  9172        1
5429  9235        1
5443  9249        1
5669  9475        1
5703  9509        1

[78 rows x 2 columns]